
<app-nav></app-nav>
<router-outlet></router-outlet>

<div>
  <form [formGroup]="fb">
    <span class="label" >Login</span>
    <br>
    <span class="label1">username</span>
    <input type="text" formControlName="username">
    <span *ngIf="fb.controls.username.errors?.required"> err</span>
    <br>
    <span class="label1">password</span>
    <input #passwordInput type="password" formControlName="password">
    <br>
    <button (click)="onSubmit(passwordInput.value)"> submit </button>
  </form>
</div>

<h2>data length : {{data.length}}</h2>

results:
<div>
  username: {{fb.value.username}} 
  <br>
  password: {{fb.value.password}} 
</div>

<app-emp-list [data]="data" (deleteEvent)="deleteData($event)"></app-emp-list>